.container .show {
    background-color: #fbb034;
    background-image: linear-gradient(135deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: rgba(238, 201, 39, 0.979) 0px 3px 8px;
    min-height: 60vh;
    border: 2px #ffdd00 solid;
    
    
}

.show-img img {
    max-height: 400px;
    max-width: 270px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.979) 0px 3px 8px;
    
}



.show-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    

color: rgba(0, 0, 0, 0.863);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
        0px -5px 10px rgba(255, 255, 255, 0.15);

   
    
}

.show-genres {
    padding: 10px;
    font-weight: 500;
}

.show-seasons {
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.show-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5fr 0.5fr ;
    gap: 10px;
    padding-bottom: 30px;
}



.show-img {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: inline-block;
    width: fit-content;
}



.show-summary {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    padding-left: 10px;
}

.show-cast { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 10px;
}
 .show .heart-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    cursor: pointer;
    /* z-index: 10; */
} 



.show .heart-icon.liked {
    color: red;
   
}

@media (max-width: 700px) {

    .show-name,
    .show-genres {
        text-align: center;
        margin: 0 auto;
        padding: 10px 0;
    }

    .show-seasons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .show-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .show-img {
        position: relative;
        grid-column: unset;
        grid-row: unset;
        margin-bottom: 20px;
    }

    .show-summary {
        grid-column: unset;
        grid-row: unset;
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        margin: 0 auto;
        max-width: 90%;
    }

    .show-cast {
        grid-column: unset;
        grid-row: unset;
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        margin: 0 auto;
        max-width: 90%;
    }

 .show .heart-icon {
    position: absolute;
    top: 5px;
    right: 2%;
    font-size: 2rem;
    cursor: pointer;

 }
}