.container .my-shows {
    background-color: #fbb034;
    background-image: linear-gradient(135deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 8px;
    margin-bottom: 50px;
    min-height: 60vh;
    box-shadow: rgba(184, 156, 30, 0.979) 0px 2px 4px;
    border: 1px #968200 solid;
    
}

.my-shows-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}