.my-shows-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 5px;
    border-radius: 12px;
    padding: 10px;
    background-color: #fb9434;
    background-image: linear-gradient(135deg, #fbb034 0%, #ffbb00 74%);
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: rgba(29, 24, 2, 0.349) 0px 3px 8px;
    cursor: pointer;
    position: relative;

}





.my-shows-card img {
    position: relative;
    object-fit: cover;
    width: 180px;

}



.name h1 {
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
}

.genres {
    font-size: 0.9rem;

}

.set-bookmark-btn button {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    color: white;
    border: none;
    padding: 5px;
    width: 120px;
    cursor: pointer;
    box-shadow: rgba(29, 24, 2, 0.349) 0px 3px 8px;
    margin-top: 5px;
}

.show-delete-btn button {
    background-color: rgb(197, 0, 0);
    border-radius: 12px;
    color: white;
    border: none;
    padding: 5px;
    width: 120px;
    cursor: pointer;
    box-shadow: rgba(29, 24, 2, 0.349) 0px 3px 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}



