
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .navbar {
    background-color: #fbb034;
        background-image: linear-gradient(135deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: rgba(238, 201, 39, 0.979) 0px 3px 8px;
    border: 2px #ffdd00 solid;
}

.logo {
    text-transform: uppercase;
    font-family: "Rubik Distressed", system-ui;
    font-size: 2rem;
}

.logo span {
    color: #fa1c0c;
}

.navlink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;

}

.navlink:hover {
    transform: scale(1.1);
    color: #fa1c0c ;
}

.navlinks {
    display: flex;
    gap: 15px;
    font-family: "Rubik Distressed", system-ui;
}