.show-card {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px; 
        gap: 5px;
        border-radius: 12px;
        padding: 10px;
        background-color: #fb9434;
        background-image: linear-gradient(135deg, #fbb034 0%, #ffbb00 74%);
        border-radius: 8px;
        margin-bottom: 50px;
        box-shadow: rgba(29, 24, 2, 0.349) 0px 3px 8px;
        cursor: pointer;
        position: relative;
}



.show-card img {
    position: relative;
    object-fit: cover;
    width: 180px;
    
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    /* Ajustez la taille de l'icône selon vos préférences */
    cursor: pointer;
    transition: color 0.3s ease;
    /* Animation pour la transition de couleur */
    color: grey;
}

.heart-icon.liked {
    color: red;
    /* Le cœur devient rouge quand "liké" */
}



 .name h1 {
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
}

.genres  {
    font-size: 0.9rem;
    
}